server {
    listen 80;

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location /api {
        proxy_pass http://app:${APP_PORT}; # 'app'은 컴포즈 서비스 이름
    }
}